body{
    margin:0;
}
.first-section {
    background: linear-gradient(rgba(0, 0, 0, 0.9),
            rgba(0, 149, 255, 0.4)), url("./a7237d00f85945d0e54029e0fed47112.jpg");
    background-size:cover;
    height: 100vh;
}

/* .active {
    background-color: rgb(65, 105, 225);
    border-radius: 10px;
} */

.hero-title{
    padding-top: 300px;
    color: royalblue;
    /* color: white; */
}

.second-section{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(65, 105, 225);
}
.third-section{
    height: 100vh;
}
.fourth-section{
    background-color: rgb(241, 243, 255);
    height: 150vh;
}
.fifth-section{
    background-color: aliceblue;
    height: 170vh;
}
.sixth-section{
    background-color: whitesmoke;
    height: 100vh;
}

.headings{
    padding-top: 50px;
    font-size:70px;
}
.footer{
    background-color: rgb(74, 74, 74);
}


.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: rgb(65, 105, 225);
    color: #fff;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.footer-text{
    font-family: 'Courgette', cursive;
}


.footer{
    background: rgb(26 34 58);
    color:white;
}
    